.card-header-blue {
    background-color: #005a84;
    color: white;
    padding: 5px 20px;
    font-size: medium;
}

.card-border {
    border-left: solid 6px rgb(93, 184, 252);
}

.blue-icon {
    color: rgb(93, 184, 252);    
}

.bg-green{
    background: green;
    color: white;   
}
.width-25 {
    width: 25px;   
}



