<i class="fa fa-close float-end" (click)="close()"></i>
<h4 class="fw-bold mt-2">Edit Customer</h4>
<div class="row mt-5 ms-1">
    <div class="col-md-6">
        <h5 class="fw-bold">Customer Information</h5>
    </div>
    <div class="col-md-6">
        <h5 class="fw-bold float-end">Acct: {{accountNumber}}</h5>
    </div>
    <div class="row">
        <ng-container *ngFor="let item of data?.info | keyvalue:returnZero">
            <div *ngIf="item.key!='* PPV Limit'" class="col-md-6 ms-5 mt-3 fs-13">
                <span class="fw-bold me-1">{{item.key}}:</span>{{item.value.value}}</div>
            <div class="col-md-5 fs-13" *ngIf="item.key==='* PPV Limit'">
                <span class="d-flex">
                    <label class="fw-bold">{{item.key}} </label>
                    <input class="form-control" placeholder="{{item.value.value}}">
                </span>
            </div>
        </ng-container>
    </div>
</div>
<h5 class="fw-bold mt-3 ms-3 mb-5">Contact Information</h5>
<ng-container *ngIf="data?.contactRows && data?.contactRows.length">  
    <form [formGroup]="form"  >
    <div class="row col-md-12 fs-13 ms-2" *ngFor="let row of data?.contactRows; let rowIndex = index;">
        <div *ngFor="let column of row.columns; let colIndex = index;" class="{{column.class}}">
            <div class="row mt-1" >
                <div class="col-md-5">
                <label  for="row-{{rowIndex}}-col-{{colIndex}}" class="form-label fw-bold float-end">{{column.label}}</label>
                <h5 *ngIf="column.label==='Email'" class="fw-bold mt-5 mb-4">Address Information</h5>
            </div>           
            <div class="col-md-7" [ngSwitch]="column.type">               
                <input *ngSwitchCase="'text'" [type]="column.type" class="col-md-3 form-control" id="row-{{rowIndex}}-col-{{colIndex}}"
                 formControlName="{{column.controlName}}">
                 <select *ngSwitchCase="'select'"  id="row-{{rowIndex}}-col-{{colIndex}}" formControlName="{{column.controlName}}" class="form-select">
                    <!-- <option *ngFor="let option of column.value; index as i" [value]="option[i]">{{option}}
                    </option> -->
                    <option *ngFor="let option of column.value" [ngValue]="option">{{option}} </option>                   
                  </select>
                </div>
            </div>
        </div>
    </div>
</form>
</ng-container>
<div class="row mt-3">
    <div class="col-md-1">
        <button class="rounded-pill " mat-raised-button color="primary" (click)="submit()">Update</button>
    </div>
    <div class="col-md-10">
        <button  class="rounded-pill " mat-raised-button color="primary">Reset</button>
    </div>
    <div class="col-md-1">
        <button  class="rounded-pill" mat-raised-button color="primary" (click)="close()">Close</button>
    </div>
</div>