.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.menu-button {
  position: absolute;
  right: -3%;
  top: 0;
  font-weight: bold;
  background: transparent !important;
  border: none;
}

.text-bold {
  font-weight: bold;
}

.data-item {
  font-family: "Spectrum Sans", -apple-system, system-ui, BlinkMacSystemFont, "Sefoe UI", Roboto, Helvetica, Arial, sans-serifl;
  font-size: 0.875rem !important;
  line-height: 1.5;
}

.section-title {
  font-size: 20px !important;
  font-weight: 700 !important;
  padding: 12px !important;
}


.bg-white {
  background-color: white !important;
}

.p-10 {
  padding: 10px
}

.text-right {
  text-align: right;
}