<button mat-icon-button class="close-button float-end" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
<div class="row">
    <div class="col-md-8">
        <div >
            <h4 class="m-1">Verify</h4>
            <hr>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <b>{{data.title}}</b>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="row" *ngFor="let i of data.content|keyvalue returnZero">
                            <div class="col-md-6 col-sm-6">
                                {{i.key}}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <b>{{i.value}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-rounded"><span class="text-size">Mark as Verified</span></button>
                        <button class="btn btn-outline-primary btn-rounded mt-2"><span class="text-size">Mark as Not
                                Verified</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h4 class="m-1">Authenticate</h4>
            <hr>
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <span class="ms-2"><b>Security code</b></span>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input type="text" class="form-control" [formControl]="securityCode">
                    </div>
                    <div class="col-md-2 col-sm-2 p-1">
                        <button mat-raised-button color="grey" class="btn-rounded" style="padding:3px 50px;" [disabled]="!securityCode.valid">
                            <span class="text-size">Authenticate</span>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <span class="ms-2"><b>Security Question</b></span>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <span class="input ms-2"><b>What is the name of your first pet?</b></span>
                        <input type="text" class="form-control" [formControl]="securityQuestion">
                    </div>
                    <div class="col-md-2 col-sm-2 p-1">
                        <button mat-raised-button color="grey" class="btn-rounded"  style="padding:3px 50px;" [disabled]="!securityQuestion.valid">
                            
                            <span class="text-size">Authenticate</span>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <span class="ms-2"><b>Pin code</b></span>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <input type="text" class="form-control" [formControl]="pinCode">
                    </div>
                    <div class="col-md-2 col-sm-2 p-1">
                        <button mat-raised-button color="grey" class="btn-rounded"  style="padding:3px 50px;" [disabled]="!pinCode.valid">
                            <span class="text-size">Authenticate</span>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row" style="height: 80px;">
                    <div class="col-md-3 col-sm-3 ">
                        <span class="ms-2"><b>Security Token</b></span>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="input-group h-50">
                            <select #teams class="custom-select w-100" id="inputGroupSelect01" (change)="onSelectType($event)" [formControl]="securityToken" >
                                <option disabled selected></option>
                                <option *ngFor="let item of typeList"
                             value="{{item.VerifyType}}">{{item.VerifyType}}</option>
                            </select>
                        </div>
                        <div class="input-group h-50 mt-1" *ngIf="verifyList.length">
                            <select class="custom-select w-100" id="inputGroupSelect01" [formControl]="SecurityTokenExpand">
                                <option disabled selected></option>
                                <option value="{{verify}}" *ngFor="let verify of verifyList">{{verify}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 p-1">
                        <button mat-raised-button color="grey" class="btn-rounded"  style="padding:3px 50px;"  [disabled]="!securityToken.valid && !securityTokenExpand.valid" >
                            <span class="text-size">Send Token</span>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="col-md-12 col-sm-12 mb-3">
                    <button class="btn btn-outline-primary btn-rounded me-2"><span class="text-size">Mark as not Authenticated</span></button>
                    <button class="btn btn-outline-primary btn-rounded me-2"><span class="text-size">Cancel</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>