<mat-card class="p-0">      
    <mat-tab-group color="primary">
        <mat-tab label="Customer">
            <div class="row customer-location-tab m-1">
                <div class="col col-md-5 px-0">
                    <div class="row m-0 cust-address">
                        <div class="col col-md-3 px-0">
                            <div class="row m-0">
                                <div class="col px-0">
                                    <button class="cust-loc-tab" mat-icon-button (click)="activeIndex = 0"
                                        [ngClass]="{ 'active': activeIndex == 0 }">
                                        <i class="fas fa-location-dot"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col px-0">
                                    <button  class="cust-loc-tab" mat-icon-button (click)="activeIndex = 1"
                                        [ngClass]="{ 'active': activeIndex == 1 }">
                                        <i class="fas fa-credit-card"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-9 px-0">
                            <textarea title="address" class="form-control small" name="address" id="address"
                                rows="4" value="{{info?.content.second.Address.value}}"> </textarea>
                        </div>
                    </div>
                    <span class="fst-italic">* Addresses are the same</span>
                </div>
                <div class="col col-md-5">
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-envelope mr-1 grey-icon"></i>
                        </span>
                        <input type="email" class="form-control" placeholder="" aria-label="Username"
                            aria-describedby="basic-addon1" value="{{info?.contact.email.value}}" >
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-phone mr-1 grey-icon"></i>
                        </span>
                        <label class="form-label">
                            {{info?.contact.phone.value1}}<span class="mb-1"> <i class="fa fa-star grey-icon"></i> </span>
                        </label>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-phone mr-1 blue-icon"></i>
                        </span>
                       
                        <input type="text" class="form-control" placeholder="(111) 111-1111" aria-label="Username"
                            aria-describedby="basic-addon1" value="{{info?.contact.phone.value2}}" >
                    </div>
                    <div class="row py-1 fs-6 mx-0 d-flex">
                        <div class="col col-md-12 p-0 paperless-billing fw-bold">
                            <span class="">Paperless Billing</span>
                            <span class="ms-1 ml-1 text-danger" style="width: 100px;"> Not Enrolled</span>
                            <mat-slide-toggle color="primary" class="ml-x mx-4"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="d-flex float-end me-3 mb-3">
                <button mat-raised-button class="btn-rounded">
                    <span class="px-1">Update</span>
                </button>

                <button mat-stroked-button class="btn-rounded">
                    <span class="px-1">Cancel</span>
                </button>
            </div>
        </mat-tab>
        <mat-tab label="Location">
            <div class="m-1 fw-bold">
                <app-data-card cardName="location"></app-data-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>