.img {
  height: 65px;
  width: 45px;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 5px !important;
  margin: 3px !important;
}

.box{
    border: 1.5px  solid darkblue ;
    border-radius: 5px;
    height:100px;
    width: 100px;
    margin:10px;
    background-color: #bbdffb;
    
}

.p-img {
    padding: 10px 5px;
    text-align: center;
}