<div class="sticky-note p-4">
    <div class="row">
        <div class="col text-end">
            <mat-icon (click)="close()">close</mat-icon>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li *ngFor="let accountNumber of accountNumbers">
                    <span>{{accountNumber.account}}</span> <button mat-icon-button class="ml-3"
                        (click)="copyData(accountNumber.account)">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>