.div-style{
    background-color: #005a84;
    color: white;
    padding: 3px 3px 3px 10px;
    margin: 10px 10px 0px 10px;
}


.card-style{
    padding: 3px 3px 3px 10px;
    margin: 0px 10px 10px 10px;
}
.btn{
    color: aliceblue;
    background-color: green;
    padding: 10px 15px;
    height: 40px;
    border-radius: 5px;
    border:white solid 1px;
}