.div-style{
    background-color: #005a84;
    color: white;
    padding: 3px 3px 3px 10px;
    margin: 10px 10px 0px 10px;
}


.card-style{
    padding: 3px 3px 3px 10px;
    margin: 0px 10px 10px 10px;
}

.f-sty-width{
    height: 30px;
    width: 60%;
}

.f-sty-width-80{
    height: 30px;
    width: 80%;
}

.f-sty-width-25{
    height: 30px;
    width: 25%;
}