<i class="fa fa-close float-end" (click)="close()"></i>
<h4 class="fw-bold">Edit Account Acess</h4>
<mat-card class="bg-light mt-2">
    <div class="row">
        <div class="col-md-3" *ngFor="let item of data?.info | keyvalue:returnZero">
            <p class="fw-bold">{{item.key}}</p>
            <p>{{item.value.value}}</p>
        </div>
    </div>
</mat-card>
<h4 class="fw-bold mt-3">Security Information</h4>
<hr>
<div *ngFor="let item of data?.input">
    <form [formGroup]="form">
        <label class="fw-bold">{{item.fieldName}}</label>
        <input formControlName="{{item.fieldName}}" placeholder="{{item.placeHolder}}" class="form-control w-25" type="{{item.fieldType}}">
    </form>
</div>
<div class="row mt-3">
    <div class="col-md-2">
        <button class="rounded-pill" (click)="submit()" mat-raised-button color="primary">Submit</button>
    </div>
    <div class="col-md-8">
        <button class="rounded-pill " mat-raised-button color="primary" >Reset</button>
    </div>
    <div class="col-md-2">
        <button class="rounded-pill" mat-raised-button color="primary" (click)="close()">Close</button>
    </div>
</div>

