.card-edit {
    margin-bottom: 10px;
    padding: 0px;
    width: 100%;

    .header-edit {
        background-color: #d3dfe5;
        padding: 0.25rem 0.5rem;
        text-align: center;


        .title-font {
            font-size: 12px;
            text-align: center;
            font-weight: 600;
        }
    }

    .content-style {
        margin: 15px
    }

    .mat-card-content {
        font-size: 12px;
    }
}

::ng-deep .main .mat-tab-label {
    margin: 10px;
    color: black !important;
}

.header-bold {
    font-weight: bold;
    font-size: 0.875rem;
    text-align: center !important;
}

.form-control,
.form-select {
    font-size: 12px !important;
}

.mat-button-xs {
    font-size: 11px !important;
    min-width: 60px !important;
    line-height: 24px !important;
}

.mat-button-sm {
    font-size: 0.875rem !important;
    min-width: 80px !important;
    line-height: 26px !important;
}

.color-header {
    background-color: #eceff1;
    color: black
}

.w-10{
    width: 10%;
}

::ng-deep .mat-pseudo-checkbox-checked{
    background-color: #1063bc;
}

.btn-cl{
    background-color: #eceff1;
    margin-left:48%; 
    max-height:20px; 
    min-width: 8%;
    border: 1px black solid;
}

.tab-bg-color{
    background-color: #d3dfe5;
}

.row-selected-clr{
    background-color:rgba(255, 0, 0, 0.502)
}

.table-scroll{
    overflow-y: scroll;
    max-height: 250px;
}