table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
.skill-list {
  display: flex;
  justify-content: between;
}

.blue-bar {
  max-height: 30px;
  background: rgb(0, 90, 132);
  padding: 0px 0px 1px;
}

tr.mat-row {
  border: 1px solid #e7e7e7;
  height: 20px !important;
}
