<ng-container
    *ngIf="accountNoFlag && (data?.callReason=='cannotConnect'||data?.callReason=='missingChannel'||data?.callReason=='noService'||data?.callReason=='selfInstall'||data?.callReason=='payments')">
    <!-- heder title part for all the section -->
    <div class="row m-1" *ngFor="let item of data.headerTitle | keyvalue">
        <ng-container *ngIf="courseName===item.key">
            <ng-container *ngFor="let i of item.value | keyvalue">
                <div class="col-md-1 icon mt-2" [ngClass]="{'bg-red':courseName==='No Service'}"
                    style="position:relative ;">
                    <mat-icon class="color-white icon-position" svgIcon="{{i.key}}"></mat-icon>
                </div>
                <div class="col-md-8">
                    <span class="color-text-secondary fw-bold fs-6">Primary Call Reason</span>
                    <h3 class="fw-bold">{{i.value}}</h3>
                </div>
                <div class="col-md-2 mt-4" *ngIf="courseName==='Payments'">
                    <button mat-raised-button color="primary" class="rounded-pill" (click)="openDialog()">Take
                        Payment</button>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <!-- callreson for payment -->
    <ng-container *ngIf="data?.callReason=='payments'">
        <mat-card class="m-2">
            <ng-container *ngFor="let item of data.content | keyvalue:returnZero">
                <mat-card-title class="fw-bold">{{item.key}}</mat-card-title>
                <mat-card-content>
                    <div class="row ">
                        <ng-container *ngFor="let i of item.value| keyvalue:returnZero">
                            <div class="col col-md-3 text-center"
                                [ngClass]="{'side-border':i.key!=='Current Billing Cycle'}">
                                <span *ngIf="i.key!=='Current Amount Due'">
                                    <p class="color-text-secondary fw-bold fs-6">{{i.key}}</p>
                                    <p class="color-dark-blue fw-bold fs-3 ">{{i.value}}</p>
                                </span>
                                <span *ngIf="i.key==='Current Amount Due'">
                                    <ng-container *ngFor="let data of i.value| keyvalue:returnZero">
                                        <p class="color-text-secondary fw-bold fs-6">{{i.key}}</p>
                                        <span *ngFor="let data of data.value| keyvalue:returnZero">
                                            <p class="color-dark-blue fw-bold fs-3 ">
                                                {{data.key}}
                                                <span>
                                                    <a class="color-dark-blue text-decoration-none" href="">
                                                        <h6>{{data.value}}</h6>
                                                    </a>
                                                </span>
                                            </p>
                                        </span>
                                    </ng-container>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </mat-card-content>
            </ng-container>
        </mat-card>

        <mat-card class="m-2">
            <app-billing-history-table> </app-billing-history-table>
        </mat-card>
        <div class="table-bgcolor m-2">
            <div class="fw-bold fs-4 mt-5">
                Payment History
            </div>
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 mt-4">

                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                    <th mat-header-cell *matHeaderCellDef>{{column}}</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="column === 'icon' && '!expanded'">
                            <button mat-mini-fab color="primary"
                                [class.example-expanded-row]="expandedElement === element"
                                (click)="expandedElement = expandedElement === element ? null : element">
                                <mat-icon>{{ expandedElement !==element ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                                </mat-icon>
                            </button>
                        </div>
                        {{element[column]}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length +1">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="row">
                                <div>
                                    <div>Payment Amount: {{element.AmountDue}}</div>
                                    <div>Payment Method: {{element.AmountDue}}</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </div>

        <mat-card class="m-2">
            <h3 class="fw-bold fs-4">Statement Details</h3>
            <carousel class="carousel-html-content" [cellsToShow]="3" [cellsToScroll]="2">
                <div class="carousel-cell text-center" *ngFor="let product of products">
                    <div class="border-grey w-50 text-center h-auto">
                        <h4 class="fs-5 fw-bold m-0 p-1">{{product.bill}}</h4>
                        <h6 class="fs-2 fw-bolder m-0 p-1 color-dark-blue">{{product.amount}}</h6>
                        <h4 class="color-text-secondary m-0 p-1">{{product.timeframe}}</h4>
                        <h6 class="color-grey m-0 p-1 fw-bold fs-6">{{product.duedate}}</h6>
                    </div>
                </div>
            </carousel>
        </mat-card>
        <div class="m-2">
            <div *ngFor="let item of data.expansionPanelStatement | keyvalue:returnZero">
                <mat-card>
                    <mat-card-title>
                        <div class="row-header">
                            <div class="fw-bold fs-4">{{item.key}}</div>
                            <div>
                                <button class="row-btn" (click)="showRowData()">
                                    <mat-icon>{{ rowData ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }} </mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-title>
                    <mat-card-content>
                        <table *ngFor="let i of item.value | keyvalue:returnZero">
                            <tr class="fw-bold fs-5">
                                <td>{{i.key}}</td>
                                <td class="text-end">{{i.value[0].value}}</td>
                            </tr>

                            <ng-container *ngIf="!rowData">
                                <ng-container *ngFor="let subitem of i.value[1].val | keyvalue:returnZero">
                                    <tr class="fs-6 fw-normal" *ngFor="let s of subitem.value | keyvalue:returnZero">
                                        <td>{{s.key}}</td>
                                        <td class="text-end">{{s.value}}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>


    <!-- callreson for missing channel -->
    <ng-container *ngIf="data?.callReason=='missingChannel'">
        <div>
            <mat-card class="m-2">
                <ng-container *ngFor="let item of data.tvChannel|keyvalue:returnZero">
                    <div class="fw-bold fs-4">{{item.key}}</div>
                    <mat-card-content>
                        <div class="row">
                            <ng-container *ngFor="let i of item.value|keyvalue:returnZero">
                                <div class="col-md-6" [ngClass]="{'side-border':i.key==='Recent Work Orders'}">
                                    <p class="color-text-secondary fw-bold fs-6">{{i.key}}<span
                                            *ngIf="i.key==='Recent Work Orders'"><i
                                                class="fa-solid fa-circle-info blue-icon"></i></span></p>
                                    <p class="color-dark-blue fw-bold fs-3 ">{{i.value}}</p>
                                </div>
                            </ng-container>
                        </div>
                        <hr>
                        <div *ngFor="let item of data.packageCodes|keyvalue:returnZero">
                            <span class="color-text-secondary fw-bold fs-6">{{item.key}}</span>
                            <div class="row">
                                <div class="col-md-6" *ngFor="let i of item.value|keyvalue:returnZero">
                                    <p class="color-text-secondary fw-bold fs-6 fw-bold">{{i.key}}</p>
                                    <div *ngFor="let it of i.value|keyvalue:returnZero">
                                        <div class="row">
                                            <div class="col-md-6" *ngFor="let item of it.value|keyvalue:returnZero">
                                                <li class="fs-6 fw-normal">{{item.key}}</li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </ng-container>
            </mat-card>
        </div>
        <div>
            <mat-card class="m-2">
                <ng-container *ngFor="let item of data.channelInfo|keyvalue:returnZero">
                    <div class="fw-bold">{{item.key}}</div>
                    <mat-card class="card-side-border mt-2">
                        <p class="text-size"><i class="fa-solid fa-circle-info card-icon m-2"></i>Check the Account
                            memos
                            for active
                            channel audit info before viewing details in CorPortal</p>
                    </mat-card>
                    <div class="row m-3">
                        <ng-container *ngFor="let i of item.value|keyvalue:returnZero">
                            <div class="col-md-6" [ngClass]="{'side-border':i.key==='Audit Info'}">
                                <p class="color-text-secondary fw-bold fs-6 fw-bold">{{i.key}}</p>
                                <a href="" class="color-dark-blue text-decoration-none fw-bold">{{i.value}}<span><i
                                            class="fa-solid fa-up-right-from-square m-1"></i></span></a>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </mat-card>
        </div>
        <div class="m-2">
            <mat-accordion class="example-headers-align " multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title class="fw-bold">
                            Customer Impacting Event (0)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="text-center">
                        <p class="color-text-secondary fw-bold fs-6">No customer impacting events at this time.</p>
                        <div class="row justify-content-center">
                            <p class="col-md-10">Key:<i class="fa fa-info-circle card-icon m-2"></i>Information<i
                                    class="fa fa-exclamation-triangle yellow-icon m-2"></i>Impairment</p>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="m-2">
            <mat-card>
                <div class="fw-bold">Devices</div>
                <app-device-connectivity> </app-device-connectivity>
            </mat-card>
        </div>
        <div class="m-2">
            <mat-card>
                <div class="fw-bold">History</div>
                <app-hit-history-table></app-hit-history-table>
            </mat-card>
        </div>
    </ng-container>

    <!-- callreason cannot connect -->
    <ng-container *ngIf="data?.callReason=='cannotConnect'">
        <div class="m-2">
            <mat-card>
                <app-device-connectivity> </app-device-connectivity>
            </mat-card>
        </div>
    </ng-container>

    <!-- callreason no-service -->
    <ng-container *ngIf="data?.callReason=='noService'">
        <mat-card class="m-2">
            <div *ngFor="let item of data.noService | keyvalue">
                <p class="fw-bold fs-4">{{item.key}}</p>
                <div class="row">
                    <div class="col-md-3" [ngClass]="{'side-border':i.key!=='Non-Pay Disconnect'}"
                        *ngFor="let i of item.value| keyvalue">
                        <p class="color-text-secondary fw-bold fs-6"> {{i.key}}</p>
                        <p class="color-dark-blue fw-bold fs-3 "> {{i.value}}</p>
                    </div>
                </div>
                <hr>
                <div class="row" *ngFor="let item of data.iconNoService | keyvalue">
                    <p class="col-md-4 color-text-secondary fw-bold fs-6">{{item.key}}:</p>
                    <div class="col-md-1" *ngFor="let i of item.value | keyvalue">
                        <mat-icon>{{i.value}}</mat-icon>
                    </div>
                    <button class="col-md-3 btn btn-link" (click)="opendialog()">View Service</button>
                </div>
            </div>
        </mat-card>
        <div class="m-2">
            <mat-card>
                <app-device-connectivity> </app-device-connectivity>
            </mat-card>
        </div>
    </ng-container>


    <!-- troubleshooting for all section -->
    <ng-container
        *ngIf="(courseName==='No Service') ||(courseName==='Missing Channels') ||(courseName==='Cannot Connect')">
        <div class="m-2">
            <mat-card>
                <h3 class="fw-bold">Troubleshooting</h3>
                <mat-card-content>
                    <mat-card class="bg-grey">
                        <mat-card-content>
                            <div *ngFor="let item of data.troubleshootData | keyvalue">
                                <ng-container *ngIf="item.key===courseName">
                                    <ng-container *ngFor="let i of item.value | keyvalue">
                                        <div class="row">
                                            <div class="col-md-9 color-text-secondary fw-bold fs-6">{{i.key}}</div>
                                            <div class="col-md-3">
                                                <button class="rounded-pill fw-bold" mat-raised-button
                                                    color="primary">Troubleshoot Issue</button>
                                            </div>
                                        </div>
                                        <h3 class="fw-bold">{{i.value}}</h3>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <div>
                        <button class="mt-2 fw-bold fs-6" mat-stroked-button color="primary"><i
                                class="fa-solid fa-plus m-1"></i>Troubleshoot New Issue</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>

    <!-- call reason for self installation -->
    <ng-container *ngIf="data?.callReason=='selfInstall'">
        <div class="row mr-35">
            <div class="col-sm-3 text-center ">
                <button (click)="selfInstallFlag='order'" [ngClass]="{'active-self-button':selfInstallFlag==='order'}"
                    class="self-install-button" mat-stroked-button>Order
                    Created</button>
            </div>
            <div class="col-sm-3 text-center">
                <button (click)="selfInstallFlag='agreement'"
                    [ngClass]="{'active-self-button':selfInstallFlag==='agreement'}" class="self-install-button"
                    mat-stroked-button>Agreements
                    Accepted</button>
            </div>
            <div class="col-sm-3 text-center">
                <button (click)="selfInstallFlag='deviceReceived'"
                    [ngClass]="{'active-self-button':selfInstallFlag==='deviceReceived'}" class="self-install-button"
                    mat-stroked-button>Device Received</button>
            </div>
            <div class="col-sm-3 text-center">
                <button (click)="selfInstallFlag='deviceOnline'"
                    [ngClass]="{'active-self-button':selfInstallFlag==='deviceOnline'}" class="self-install-button"
                    mat-stroked-button>Device Online & Activated</button>
            </div>
        </div>
        <ng-container *ngIf="selfInstallFlag==='order'">
            <mat-card class="m-2" *ngFor="let item of data.selfInstallOrder | keyvalue">
                <h4 class="fw-bold">{{item.key}}</h4><br>
                <div class="row" *ngFor="let i of item.value | keyvalue">
                    <h6 class="col-md-3 fw-bold color-text-secondary">{{i.key}}</h6>
                    <h6 class="col-md-3 fw-bold">{{i.value}}</h6>
                </div>
            </mat-card>
        </ng-container>
        <ng-container *ngIf="selfInstallFlag==='agreement'">
            <mat-card class="m-2">
                <h6 class="fw-bold">Agreements</h6>
                <div *ngFor="let item of data?.Agreements">
                    <h6><span> <i class="fa-solid fa-check green-icon m-1"></i></span>{{item}}</h6>
                </div>
                <button class="rounded-pill" mat-flat-button color="primary">Resend Agreements</button>
            </mat-card>
        </ng-container>
        <ng-container *ngIf="selfInstallFlag==='deviceReceived'">
            <mat-card class="m-2">
                <div *ngFor="let i of data.selfInstallContent">
                    <h2 class="fw-bold">Delivery Info</h2>
                    <h4 class="bill">Shipments for Order: {{i.order}}</h4>
                    <h5 class="fs-6 fw-lighter">Delivery Address: {{i.address}}</h5>

                    <div class="row mt-20">
                        <div class="col-md-4">
                            Package 1 of 1 | Items: 1
                        </div>
                        <div class="col-md-4 offset-4">
                            UPS Tracking #: {{i.Tracking}}
                        </div>
                    </div>
                    <div class="card">
                        <div class="row mt-20">
                            <div class="col-md-1">
                                Image Coming Soon
                            </div>
                            <div class="col-md-4">
                                <p>Device:{{i.Device}}</p>
                                <p>Serial Number:{{i.SerialNumber}}</p>
                            </div>
                            <div class="col-md-5 offset-1">
                                <p>Expected Delivery on : <br>
                                    {{ExpectedDelivery}}</p> <br>
                                <mat-stepper linear #stepper>
                                    <mat-step>
                                        <ng-template matStepLabel>Ordered</ng-template>
                                        <p>{{i.ordered}}</p>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>In Transit</ng-template>
                                        <p>{{i.transit}}</p>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>Delivered</ng-template>
                                        <p>{{i.delivered}}</p>
                                    </mat-step>
                                </mat-stepper>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </ng-container>
        <ng-container *ngIf="selfInstallFlag==='deviceOnline'">
            <mat-card class="m-2">
                <app-device-connectivity> </app-device-connectivity>
            </mat-card>
        </ng-container>
    </ng-container>

    <!--unschedule appointment callreason page for guide issue course from legacy repair -->
    <ng-container *ngIf="courseName==='Guide Issues' || courseName==='Equipment Issues' ">
        <mat-card class="m-2 " [ngClass]="courseName==='Equipment Issues'?'bg-red-dark':'bg-blue'">
            <div class="row">
                <div class="col-md-1 bg-white icon mt-2" style="position:relative ;">
                    <mat-icon class="color-blue icon-position" svgIcon="aos-truck"></mat-icon>
                </div>
                <div class="col-md-9">
                    <h1 class="text-white">
                        <span *ngIf="courseName!=='Equipment Issues'">Unscheduled Appointment</span>
                        <span *ngIf="courseName==='Equipment Issues'">Late Technician</span>
                    </h1>
                    <h6 class="small color-white">
                        <span *ngIf="courseName!=='Equipment Issues'">The appointment is not scheduled.</span>
                        <span *ngIf="courseName==='Equipment Issues'">Technician is late for the customer's 6-7 PM CST
                            appointment.</span>
                    </h6>
                </div>
            </div>
        </mat-card>
        <div class="row">
            <div class="col-sm-3">
                <p class="bill">Appointment Info</p>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <button class="rounded-pill" mat-stroked-button color="primary">Update Dispatch</button>
                    </div>
                    <div class="col-sm-3 text-center">
                        <button class="rounded-pill" mat-stroked-button color="primary">Cancel Appointment</button>
                    </div>
                    <div class="col-sm-6 text-center mr-5">
                        <button class="rounded-pill " mat-flat-button color="primary">Reschedule Appointment</button>
                    </div>
                </div>
            </div>
        </div>
        <mat-card class="m-2">
            <div class="row">
                <div class="col-md-4 bill">Appointment Details</div>
                <div class="col-md-4">
                    <button class="rounded-pill" [ngClass]="courseName==='Equipment Issues'?'bg-red-dark':'bg-grey'"
                        mat-stroked-button color="primary">
                        <span *ngIf="courseName!=='Equipment Issues'">Unscheduled</span>
                        <span *ngIf="courseName==='Equipment Issues'" class="color-white">Delay</span>
                    </button>
                </div>
                <div class="col-md-4">
                    <a class="color-dark-blue text-decoration-none text-size m-2"><span><i
                                class="fa-solid fa-pen m-1"></i></span>Update
                        Appointment Details</a>
                </div>
            </div>
            <div *ngFor="let item of data.unscheduleAppointmentData | keyvalue:returnZero">
                <p class="fw-bold font-medium">{{item.key}}</p>
                <p class="font-medium">{{item.value}}</p>
            </div>
        </mat-card>

    </ng-container>




</ng-container>

<!-- callreason page for unknown callreason -->
<ng-container *ngIf="accountNoFlag && data?.callReason=='unknownCall' ">
    <div class="card m-2 bg-blue-light rounded-3 py-2">
        <div class="row">
            <div class="col-md-1 bg-white icon mt-2 position-relative">
                <mat-icon class="color-blue icon-position" svgIcon="aos-unknown"></mat-icon>
            </div>
            <div class="col-md-9">
                <h1 class="text-white">
                    Unknown Call Reason
                </h1>
                <h6 class="small color-white fw-bold">
                    The reason for the customer's call is unknown.
                </h6>
            </div>
        </div>
    </div>
    <div>
        <h4 class="fw-bold m-2 mt-5">Overview</h4>
        <mat-card class="m-2">
            <h5 class="fw-bold">Next Steps</h5>
            <div class="fw-lighter">
                We're sorry, we're not sure why the customer called. As a next step, you can:
                <li>Select a different tab, such as Billing, Troubleshooting or something else and try to help
                    the customer</li>
                <li>Transfer the call to a Supervisor</li>
            </div>
        </mat-card>
    </div>
</ng-container>

<!--unschedule appointment callreason page  -->
<ng-container *ngIf="accountNoFlag && data?.callReason=='unscheduleAppointment' ">
    <div class="card m-2 py-2 rounded-3 " [ngClass]="courseName==='Equipment Issues'?'bg-red-dark':'bg-blue'">
        <div class="row">
            <div class="col-md-1 bg-white icon mt-2" style="position:relative ;">
                <mat-icon class="color-blue icon-position" svgIcon="aos-truck"></mat-icon>
            </div>
            <div class="col-md-9">
                <h1 class="text-white">
                    <span *ngIf="courseName!=='Equipment Issues'">Unscheduled Appointment</span>
                    <span *ngIf="courseName==='Equipment Issues'">Late Technician</span>
                </h1>
                <h6 class="small color-white">
                    <span *ngIf="courseName!=='Equipment Issues'">The appointment is not scheduled.</span>
                    <span *ngIf="courseName==='Equipment Issues'">Technician is late for the customer's 6-7 PM CST
                        appointment.</span>
                </h6>
            </div>
        </div>
    </div>
    <div class="row mx-1">
        <div class="col-sm-3">
            <p class="fs-5 fw-bold mt-3">Appointment Info</p>
        </div>
        <div class="col-md-9 ">
            <div class="d-flex justify-content-between mt-2">
                <button class="rounded-pill" mat-stroked-button color="primary">Update Dispatch</button>
                <button class="rounded-pill" mat-stroked-button color="primary">Cancel Appointment</button>
                <button class="rounded-pill " mat-flat-button color="primary">Reschedule Appointment</button>
            </div>
        </div>
    </div>
    <mat-card class="m-2">
        <div class="row">
            <div class="col-md-4 fs-5 fw-bold">Appointment Details</div>
            <div class="col-md-4">
                <button class="rounded-pill" [ngClass]="courseName==='Equipment Issues'?'bg-red-dark':'bg-grey'"
                    mat-stroked-button color="primary">
                    <span *ngIf="courseName!=='Equipment Issues'">Unscheduled</span>
                    <span *ngIf="courseName==='Equipment Issues'" class="color-white">Delay</span>
                </button>
            </div>
            <div class="col-md-4">
                <a class="color-dark-blue text-decoration-none text-size m-2"><span><i
                            class="fa-solid fa-pen m-1"></i></span>Update
                    Appointment Details</a>
            </div>
        </div>
        <div *ngFor="let item of data?.unscheduleAppointmentData | keyvalue:returnZero">
            <p class="fw-bold font-medium">{{item.key}}</p>
            <p class="font-medium">{{item.value}}</p>
        </div>
    </mat-card>
</ng-container>

<!-- callreason page for service outage -->
<ng-container *ngIf="accountNoFlag && data?.callReason=='serviceOutage'">
    <div class="card m-2 bg-red-dark rounded-3 py-2">
        <div class="row">
            <div class="col-md-1 bg-white icon mt-2 position-relative">
                <mat-icon class="color-red icon-position" svgIcon="aos-outage"></mat-icon>
            </div>
            <div class="col-md-10">
                <h1 class="text-white">
                    Service Outage
                </h1>
                <h6 class="small color-white fw-bold">
                    Spectrum TV, Spectrum Internet and Spectrum Voice services are currently affected by an outage in
                    the customer's area.
                </h6>
            </div>
        </div>
    </div>
    <div class="d-flex mx-2 mt-3 justify-content-between">
        <h5 class="fw-bold">Outage Info</h5>
        <button class="rounded-pill" mat-flat-button color="primary">Notify When Resolved</button>
    </div>.
    <ng-container *ngFor="let item of data?.outageInfo | keyvalue:returnZero">
        <div class="card mt-2">
            <div class="d-flex justify-content-between">
                <h6 class="fw-bold m-2">{{item.key}}</h6>
                <button class="border-0 bg-white"
                    (click)="item.value.details.detailFlag=!item.value.details.detailFlag">
                    <i *ngIf="!item.value.details.detailFlag" class="fa-solid fa-angle-down"></i>
                    <i *ngIf="item.value.details.detailFlag" class="fa-solid fa-angle-up"></i>
                </button>
            </div>
            <div class="row">
                <div class="col-md-5 m-2" *ngFor="let i of item.value| keyvalue:returnZero">
                    <ng-container *ngIf="i.key!='details'">
                        <h6 class="fw-bold fs-5 color-grey">{{i.key}}</h6>
                        <h6 class="color-dark-blue fw-bold">{{i.value.value}}</h6>
                    </ng-container>
                </div>
            </div>
            <div class="row" *ngIf="item.value.details.detailFlag">
                <ng-container *ngFor="let data of item.value.details| keyvalue:returnZero" class="row">
                    <ng-container [ngSwitch]="data.key">
                        <div *ngSwitchCase="'Description'">
                            <h6 class="fw-bold fs-5 color-grey m-2">{{data.key}}</h6>
                            <h6 class="m-2">{{data.value.value}}</h6>
                        </div>
                        <div *ngSwitchCase="'Service Affected'">
                            <h6 class="fw-bold fs-5 color-grey m-2">{{data.key}}</h6> 
                            <div class="row" >                          
                                <div class="col-md-1 d-flex m-2"  *ngFor="let icon of data.value| keyvalue:returnZero">
                                   
                                  <i [class]=icon.value></i><h6 class="ms-1">{{icon.key}}</h6></div>                                 
                            </div>                            
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <div class="card mt-2">    
    <app-outage-history></app-outage-history>
</div>
</ng-container>

<!-- callreason for no relevent info -->
<ng-container *ngIf="!accountNoFlag || data?.callReason=='noInfo' ">
    <div class="text-center m-5">
        <i class="fa-solid fa-circle-info fa-4x mb-4"></i>
        <h2 class="fw-bold">Relevant Info Unavailable</h2>
        <h6>After you receive a call or select a customer's account, we'll check for any relevant info, such as an
            outage, upcoming appointment or something else, that could help with the call.</h6>
    </div>
</ng-container>