@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_Lt.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_LtIt.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_Bk.ttf) format('truetype');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_BkIt.ttf) format('truetype');
    font-weight: 350;
    font-style: italic;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_Rg.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_It.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_Md.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_MdIt.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_Bd.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_BdIt.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_XBd.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Spectrum Sans';
    src: local('Spectrum Sans'),
        url(../fonts/SpectrumSans_XBdIt.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}